%% -*- mode: Erlang; -*-
{lib_dirs, ["deps"]}.
{sub_dirs, ["apps/dupan", "apps/inets", "rel"]}.
{deps,
 [
%  {rfc4627_jsonrpc, ".*", {git, "https://github.com/tonyg/erlang-rfc4627.git"}},
  {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}},
  {mochiweb_xpath, ".*", {git, "https://github.com/retnuh/mochiweb_xpath.git"}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}},
  {lager, ".*", {git, "https://github.com/basho/lager.git"}}
  ]}.
